{% extends "JblStudioBundle::admin_layout.html.twig" %}

{% block title %}{{ parent() }} | Administration{% endblock %}

{% block body %}



<div class="container" id="content">

	<h1>Administration</h1>
	
</div>
{% endblock %}