<h1>StudioTagarin.fr</h1>

<fieldset>
	<legend>Informations</legend>
	<p>
		<b>Email :</b><br/>
		{{ email }}
	</p>
	<p>
		<b>Nom :</b><br/>
		{{ name }}
	</p>
	<p>
		<b>Téléphone :</b>
		{{ phone }}
	</p>
</fieldset>

<fieldset>
	<legend>Message</legend>
	<p>
		{{ message }}	
	</p>
</fieldset>